.container {
  padding: 2em;
}

.search_title {
  margin: 0.2em 0;
}
.list_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.list_title {
  margin: 0.2em 0;
}
