.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18%;
  background-color: #fff;
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid darkgrey;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.item:hover {
  transform: scale(1.02);
  background: rgba(63, 92, 148, 0.4);
  color: #fff;
}

.img {
  width: 100%;
  padding: 0.8em;
}
.eventNm {
  letter-spacing: -0.1em;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
}
.manageAgcNm,
.beginDate {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .item {
    width: 48%;
  }
}
