.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  background-color: #fff;
  margin: 0 0.2em 0.2em 0;
  padding: 1em;
  border: 1px solid darkgrey;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.item:hover {
  transform: scale(1.02);
}
